<div ng-controller="AccountsCtrl">
    <h1>Учетные записи пользователей</h1>
    <a ui-sref="accountedit">
        <span class="btn btn-success">Создать</span>
    </a>

    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading"><h3>Учетные записи пользователей</h3></div>
            <div class="panel-body">

                <table class="table table-stripped">

                    <tr>
                        <th>Логин</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Email</th>
                        <th>Роль</th>
                    </tr>
                    <tr  ng-repeat="p in accountsList">

                        <td>{{p.login}}</td>
                        <td>{{p.lastName}}</td>
                        <td>{{p.firstName}}</td>
                        <td>{{p.middleName}}</td>
                        <td>{{p.email}}</td>
                        <td>{{p.role}}</td>
                    </tr>
                </table>
            </div>
        </div>


    </div>
</div>