<div ng-controller="HelpCtrl">
    <h1>Справка</h1>
    <h5> {{helloMsg}} </h5>

    <a ui-sref="item">
        <span class="btn btn-success">Создать</span>
    </a>
    <div class="col-lg-12">
        <div class="panel panel-default" ng-repeat="p in helpList">
            <div class="panel-heading"><h3>{{p.title}}</h3></div>
            <div class="panel-body">

                <table class="table table-stripped">

                    <tr>
                        <td colspan="2">
                            <div ng-bind-html="p.message"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>