<div class="content" ng-controller="ProjectCtrl">
    <div class="sidebar-wrapper">
        <div class="sidebar">
            <div class="tile t-logo">
                <img src="public/images/sidebar-logo.png">
                <h1 class="p-cap"  style="text-align: center;">Исторический журнал</h1>
                <p>Добро пожаловать <br> на информационный портал, <br> созданный в рамках федерального <br> проекта "Историческая память"</p>
            </div>
            <div class="tile t-thisday" ng-if="todayEvents.length > 0">
                <div class="t-thisday-header">
                    <h1>Этот день в истории</h1>
                </div>
                <div class="t-thisday-switcher">
                    <a class="t-thisday-switcher-back" ng-click="prevEvent()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                    <a class="t-thisday-switcher-forward" ng-click="nextEvent()"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    <div class="t-thisday-switcher-date">
                        <span class="t-thisday-switcher-date-day">{{todayEvents[todayEvent].date}}</span>
                        <!--<span class="t-thisday-switcher-date-year">2016</span>-->
                    </div>
                </div>
                <a href="#/view_item/{{todayEvents[todayEvent].id}}">
                    <img src="{{todayEvents[todayEvent].picture || 'public/images/day1.jpg'}}">
                    <p class="t-thisday-descr">{{todayEvents[todayEvent].title}}</p>
                </a>
            </div>
            <div class="tile t-news">
                <div class="t-news-header">
                    <h3>Новости проекта</h3>
                    <a href="#">Все новости</a>
                </div>
                <div class="t-news-listing">
                    <ul class="t-news-list">
                        <li class="t-news-item" ng-repeat="n in newsList">
                            <a href="#/view_item/{{n.id}}">
                                {{n.title}}
                                <span class="t-news-list-date">
                                    {{n.date}}
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="page-content">


            <div class="textpage">

                <div class="tile t-page">
                    <h1>О ПРОЕКТЕ «ИСТОРИЧЕСКИЙ ЖУРНАЛ»</h1>


                    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Доброго
                            времени суток, дорогой друг! </font></font>
                    </p>
                    <p class="western" align="justify" style="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
                        <br/>

                    </p>
                    <p class="western" align="justify" style="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Мы
                            рады приветствовать Вас на информационном
                            портале  «Исторический журнал.
                            HISTORYJOURNAL.RU».  На сайте мы   объединили
                            информацию,  интересную жителям и гостям
                            Самарской области, тем, кто изучает
                            историю профессионально и тем, кто
                            впервые заинтересовался краеведением.
                            В рамках проекта проведена работа по
                            поиску и обобщению исторически значимых
                            материалов, касающихся жизни каждого
                            из 45 муниципальных образований региона.
                            Собран архив информации - биографии
                            людей, описания памятных дат, событий
                            и мест, имеющих  историческое  значение
                            для Самарской области и страны в целом.
                        </font></font>
                    </p>
                    <p class="western" align="justify" style="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">В
                            каждом регионе России, ее населенном
                            пункте есть  Люди, Места, События, которые
                            составляют ее славу и гордость. Важно
                            знать  и помнить об этом, рассказывать
                            своим детям и внукам, изучать, сохранять
                            и приумножать славные страницы родного
                            государства. Знание истории защищает
                            нас от повторения ошибок, помогает
                            понять смысл событий происходящих, дает
                            возможность устремить ясный взгляд в
                            будущее.  Основываясь на  великих
                            свершениях, открытиях, победах, которыми
                            богата наша страна, мы можем достичь
                            больших результатов и в современной
                            истории. </font></font>
                    </p>
                    <p class="western" align="justify" style="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">На
                            сайте «Исторический журнал» любой
                            желающий может стать народным автором,
                            поделиться своими уникальными сюжетами,
                            фотографиями и видео. Мы объединяем
                            всех, кому небезразлична история района,
                            города, региона, страны, факты и события,
                            которые происходили или происходят
                            сейчас и которыми можно гордиться.
                            Развитие производства и спортивные
                            достижения, творческие победы и
                            родительский подвиг,  географические
                            места и важные события – все и всё, что
                            славило и славит нашу область, ее города
                            и районы должно быть вписано в историю
                            страны. Мы ждем Ваши материалы! Становитесь
                            активными пользователями сайта! </font></font>
                    </p>

                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Проект
                            «Исторический журнал. HISTORYJOURNAL.RU» – это
                            одно из направлений федерального проекта
                            Всероссийской политической партии
                            Единая Россия «Историческая память». </font></font>
                    </p>
                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Исторический
                            журнал будет иметь 5 составляющих:</font></font></p>
                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">1)
                            Проект как сайт;</font></font></p>
                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">2)
                            Проект как книга;</font></font></p>
                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">3)
                            Проект как фильм (или серия фильмов);</font></font></p>
                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">4)
                            Проект как команда единомышленников;</font></font></p>
                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">5)
                            Проект как стимул для развития.</font></font></p>
                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">

                    </p>
                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>Проект
                            как сайт. </b></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Именно</font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>
                    </b></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">сайт
                        является сердцем проекта. Пользователями
                        являются  не только жители  Самары,
                        области и нашей страны, но и все желающие,
                        которые хотят прикоснуться с историей
                        нашего края. Стержень ресурса - три
                        раздела, три траектории - </font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>Люди,
                        Места,  События.</b></font></font></p>
                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">


                    </p>
                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>Проект
                            как книга.</b></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">
                        Лучшие материалы по разделам сайта
                        найдут свое отражение в виде печатной
                        продукции. Они будут переданы в музеи,
                        школы и другие образовательные учреждения.
                        Присылайте свои истории и, возможно,
                        именно они пополнят сокровищницу знаний.</font></font></p>
                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">

                    </p>
                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>Проект
                            как фильм. </b></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Несколько
                        материалов лягут в основу документальных
                        фильмов. А Вы бы хотели, чтобы вашу
                        историю увидели миллионы?</font></font></p>
                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">

                    </p>
                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>Проект
                            как команда единомышленников</b></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">.
                        Мы призываем к участию в проекте местных
                        краеведов и историков, журналистов,
                        педагогов, экскурсоводов, интересующихся
                        блоггеров и фотографов, людей, которые
                        хранят славные традиции предприятий и
                        трудовых коллективов, семей и
                        профессиональных династий, а также
                        жителей городов и районов, которым
                        интересно то, что происходило и происходит
                        на Самарской земле. Чтобы именно Вы
                        стали главными авторами и пользователями
                        нашего сайта.</font></font></p>
                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">

                    </p>
                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>Проект
                            как стимул для развития.</b></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">
                        Проект направлен на развитие местного
                        патриотизма. Любви к малой Родине, росту
                        интереса к истории своего района или
                        города, к жившим или живущим вокруг нас
                        интересным людям. Росту того, что
                        называется туристической привлекательностью.
                        Когда гость региона находит для себя
                        интересную и полезную информацию о
                        людях,  событиях и местах, которые  он
                        мог бы посетить  в свободное время. </font></font>
                    </p>
                    <p class="western" align="justify" style="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Сайт
                            HISTORYJOURNAL.RU с большим количеством
                            интересных, достоверных материалов,
                            его бумажный аналог – книга или сборник
                            книг, фильм или серия фильмов – все это
                            будет находиться в открытом доступе,
                            будет передано в библиотеки, школы и
                            музеи и станет ценным источником
                            информации для тех, кто ей интересуется.
                            А это уже приведет к повышению культурного
                            и образовательного уровня населения в
                            целом. Присоединяйтесь к нам! Вместе мы
                            сможем создать исторически ценный
                            материал, который повысит туристическую
                            привлекательность региона и станет
                            важным ресурсом в образовательном
                            процессе!</font></font></p>
                    <p class="western" align="justify" style="margin-bottom: 0cm; line-height: 150%">
                        <br/>

                    </p>
                    <p class="western" style="margin-bottom: 0cm; line-height: 150%"><br/>

                    </p>


                </div>

            </div>

        </div>
    </div>
    <div class="clearfix"></div>
</div>
