 <div class="textpage">

                <div class="tile t-page">
                    <h1>Правила
                        размещения материалов на сайте</h1>

                    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 16pt"><b>Правила
                            размещения материалов на сайте</b></font></font></p>
                    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 150%">
                        <br/>

                    </p>
                    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 150%">
                        <font face="Times New Roman, serif"><font size="4" style="font-size: 16pt">Доброго
                            времени суток, дорогой друг! </font></font>
                    </p>
                    <p class="western" align="center" style="margin-bottom: 0cm; line-height: 150%">
                        <br/>

                    </p>
                    <ol>
                        <li/>
                        <p align="justify" style="margin-bottom: 0cm; line-height: 150%">
                            <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">При
                                размещении информации необходимо
                                учитывать ее непосредственное  отношение
                                к истории родного края: к людям, местам,
                                событиям, связанным с городами и районами
                                Самарской области. </font></font>
                        </p>
                    </ol>
                    <p align="justify" style="margin-bottom: 0cm; line-height: 150%"><br/>

                    </p>
                    <ol start="2">
                        <li/>
                        <p align="justify" style="margin-bottom: 0cm; line-height: 150%">
                            <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Темы
                                материалов должны размещаться или в
                                привязке к району (для этого нужно
                                выбрать населенный пункт) или в одной
                                из трех категорий (Люди, Места, События).
                                Информация может касаться не только
                                известных на всю страну или  область
                                людей, но и тех, кто прославил именно
                                ваш район или город. Это могут быть
                                истории трудовых династий, многодетных
                                семей, талантливых людей, гражданских
                                и  военных подвигов, не известных
                                географических или памятных мест и не
                                заслуженно забытых событий. </font></font>
                        </p>
                    </ol>
                    <p style="margin-left: 1.27cm; margin-bottom: 0.35cm; line-height: 115%">
                        <br/>
                        <br/>

                    </p>
                    <p align="justify" style="margin-bottom: 0cm; line-height: 150%"><br/>

                    </p>
                    <ol start="3">
                        <li/>
                        <p align="justify" style="margin-bottom: 0cm; line-height: 150%">
                            <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Название
                                материалов, как и их текст нужно начинать
                                с указания следующих данных. Если это
                                биография интересного человека, то
                                следует указать его ФИО, дату
                                рождения/смерти. Если это описание
                                местной достопримечательности, то
                                необходимо начать с ее наименования и
                                точного адреса (регион, муниципалитет,
                                населенный пункт). Если  это исторически
                                важное событие, то нужно начать с его
                                названия и даты.  </font></font>
                        </p>
                    </ol>
                    <p align="justify" style="margin-bottom: 0cm; line-height: 150%"><br/>

                    </p>
                    <ol start="4">
                        <li/>
                        <p align="justify" style="margin-bottom: 0cm; line-height: 150%">
                            <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Сам
                                текст должен писаться литературным
                                языком, без нецензурной лексики,
                                грамматических и фактических ошибок.</font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 13pt">
                        </font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><u><b>Приветствуются</b></u></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">
                            оригинальные статьи, отражающие
                            авторский взгляд на историю своей малой
                            родины, привлечение к их написанию
                            местных краеведов, блогеров,
                            педагогов-историков, иных заинтересованных
                            жителей муниципалитета. </font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><u><b>НЕ
                            приветствуется</b></u></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">
                            общедоступная информация (например,
                            статьи из «Википедии», поисковых
                            сайтов). Целесообразно перед отправкой
                            материалов рассматривать их на местных
                            рабочих группах (с привлечение историков,
                            краеведов, журналистов и пр.).</font></font></p>
                    </ol>
                    <p style="margin-left: 1.27cm; margin-bottom: 0.35cm; line-height: 115%">
                        <br/>
                        <br/>

                    </p>
                    <p align="justify" style="margin-bottom: 0cm; line-height: 150%"><br/>

                    </p>
                    <ol start="5">
                        <li/>
                        <p align="justify" style="margin-bottom: 0cm; line-height: 150%">
                            <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Содержание
                                текста должно быть сжатым, но емким.
                                Желательно, что бы его объем не  превышал
                                двух страниц печатного текста 12 шрифтом
                            </font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="en-US">Word</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">.
                        </font></font>
                        </p>
                    </ol>
                    <p align="justify" style="margin-bottom: 0cm; line-height: 150%"><br/>

                    </p>
                    <ol start="6">
                        <li/>
                        <p align="justify" style="margin-bottom: 0cm; line-height: 150%">
                            <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">По
                                возможности, к каждому тексту необходимо
                                прикрепить  иллюстрации  – фото, видео,
                                презентации, публикации из газет.
                                Дополнительно каждый раздел может
                                содержать архивные материалы, письма,
                                сборники рассказов, стихов, воспоминаний,
                                вещи, которые могли бы стать музейными
                                экспонатами, а также биографии, истории
                                трудовых династий и другое.</font></font></p>
                    </ol>
                    <p align="center" style="margin-bottom: 0cm; line-height: 150%"><br/>

                    </p>
                    <p align="center" style="margin-bottom: 0cm; line-height: 150%"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>Технические
                        требования</b></font></font></p>
                    <p align="center" style="margin-bottom: 0cm; line-height: 150%"><br/>

                    </p>
                    <ol>
                        <li/>
<p align="justify" style="margin-bottom: 0cm; line-height: 150%">
                            <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Прикрепляемое
                                изображение для предварительного
                                просмотра, должно иметь разрешение
                                минимум 500х500 пикселей и иметь размер
                                не более 500кб. Материалы без изображения
                                для предварительного просмотра, к
                                публикации не допускаются.</font></font></p>
                    </ol>
                    <p align="justify" style="margin-bottom: 0cm; background: #ffffff; line-height: 150%">
                        <br/>

                    </p>
                    <ol start="2">
                        <li/>
<p align="justify" style="margin-bottom: 0cm; line-height: 150%">
                            <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Изображения
                                находящиеся в теле материала, должны
                                иметь разрешение не менее 600 пикселей
                                по ширине, размер не более 900кб.</font></font></font></font></p>
                    </ol>
                    <p style="margin-left: 1.27cm; margin-bottom: 0.35cm; line-height: 115%">
                        <br/>
                        <br/>

                    </p>
                    <p align="justify" style="margin-left: 1.3cm; margin-bottom: 0cm; background: #ffffff; line-height: 150%">
                        <br/>

                    </p>
                    <ol start="3">
                        <li/>
<p align="justify" style="margin-bottom: 0cm; line-height: 150%">
                            <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Для
                                размещения видео-материалов, их
                                необходимо предварительно разместить
                                в любой доступной социальной сети
                                (предпочтительней youtube, одноклассники,
                                вконтакте и т.д.). Для размещения материала
                                из соцсети, необходимо нажать на кнопку
                                «Поделится», выбрать html-код, получившийся
                                код вставить в тело материала, видео
                                будет подгружено автоматически.</font></font></font></font></p>
                    </ol>
                    <p align="justify" style="margin-left: 1.3cm; margin-bottom: 0cm; background: #ffffff; line-height: 150%">
                        <br/>

                    </p>
                    <ol start="4">
                        <li/>
<p align="justify" style="margin-bottom: 0cm; line-height: 150%">
                            <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Любой
                                тип материала (место/человек/событие),
                                необходимо привязать к району или
                                населенному пункту, к которому материал
                                относится.</font></font></font></font></p>
                    </ol>
                    <p style="margin-left: 1.27cm; margin-bottom: 0.35cm; line-height: 115%">
                        <br/>
                        <br/>

                    </p>
                    <p align="justify" style="margin-left: 1.3cm; margin-bottom: 0cm; background: #ffffff; line-height: 150%">
                        <br/>

                    </p>
                    <ol start="5">
                        <li/>
<p align="justify" style="margin-bottom: 0cm; line-height: 150%">
                            <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Не
                                допускается размещение изображений
                                или видео-материалов, не                  </font></font></font></font>
                        </p>
                    </ol>
<p align="justify" style="margin-bottom: 0cm; line-height: 150%">
                            <font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">имеющих
                            отношение к тексту.</font></font></font></font></p>

                </div>

            </div>

        </div>
    </div>
