<div class="content" ng-controller="FeedbackCtrl">
    <div class="sidebar-wrapper">
        <div class="sidebar">
            <div class="tile t-logo">
                <img src="public/images/sidebar-logo.png">
                <h1 class="p-cap">Исторический журнал</h1>
                <p>Добро пожаловать <br> на информационный портал, <br> созданный в рамках федерального <br> проекта "Историческая память"</p>
            </div>
            <div class="tile t-thisday" ng-if="todayEvents.length > 0">
                <div class="t-thisday-header">
                    <h1>Этот день в истории</h1>
                </div>
                <div class="t-thisday-switcher">
                    <a class="t-thisday-switcher-back" ng-click="prevEvent()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                    <a class="t-thisday-switcher-forward" ng-click="nextEvent()"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    <div class="t-thisday-switcher-date">
                        <span class="t-thisday-switcher-date-day">{{todayEvents[todayEvent].date}}</span>
                        <!--<span class="t-thisday-switcher-date-year">2016</span>-->
                    </div>
                </div>
                <a href="#/view_item/{{todayEvents[todayEvent].id}}">
                    <img src="{{todayEvents[todayEvent].picture || 'public/images/day1.jpg'}}">
                    <p class="t-thisday-descr">{{todayEvents[todayEvent].title}}</p>
                </a>
            </div>
            <div class="tile t-news">
                <div class="t-news-header">
                    <h3>Новости проекта</h3>
                    <a href="#">Все новости</a>
                </div>
                <div class="t-news-listing">
                    <ul class="t-news-list">
                        <li class="t-news-item" ng-repeat="n in newsList">
                            <a href="#/view_item/{{n.id}}">
                                {{n.title}}
                                <span class="t-news-list-date">
                                    {{n.date}}
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="page-content">


            <div class="page-content">


                <div class="tile t-tabbar-user">
                    <h2 style="width: 700px;">Форма обратной связи</h2>
                </div>

                <!--<div class="textpage">-->

                    <!--<div class="tile t-page admin-page">-->

                        <!--Дорогой друг! Мы открыты к сотрудничеству, и нам важно знать мнение пользователей о проекте. На этой странице Вы можете обратиться к администрации сайта, сообщить свои пожелания по совершенствованию работы портала, поделиться интересными идеями или задать любой интересующий Вас вопрос. Для отправки Вашего сообщения необходимо выполнить простую регистрацию.-->
                                            <!--</div>-->
                <!--</div>-->

                <div class="textpage">

                    <div class="tile t-page admin-page">

                        <div class="t-admin-maininfo-section">
                            <h4>Тема сообщения:</h4>
                            <input type="text"  class="admin-textfield admin-maininfo" style="width: 796px;" ng-model="model.title">
                        </div>

                        <div class="t-admin-maininfo-section">
                            <h4>Ваш e-mail:</h4>
                            <input type="text"  class="admin-textfield admin-maininfo" style="width: 796px;" ng-model="model.email">
                        </div>

                        <div class="admin-page-block">
                            <h4>Сообщение</h4>
                            <div ckeditor="options" ng-model="model.message"  class="admin-textarea admin-page"></div>
                        </div>

                        <div class="admin-page-block">
                            <input class="admin-page-submit" type="submit" value="Отправить"  ng-disabled="saveProcess" ng-click="saveFeedback()">
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
