<div class="wrapper content" ng-controller="ItemCtrl">

    <link rel="stylesheet" type="text/css" href="/public/css/layout.css">

    <div class="content">
        <div class="sidebar-wrapper">
            <div class="sidebar">

                <div class="tile t-admin-maininfo">
                    <div class="t-admin-maininfo-section">
                        <h3>Фотография:</h3>

                            <div ng-show="model.pictureId" class="t-admin-maininfo-img">

                                <img src="/picture/{{model.pictureId}}">

                            </div>

                            <div ng-show="!model.pictureId" class="t-admin-maininfo-img">
                                <button style="background: #fff; width: 100%; height: 100%; border: none;" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                                accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">

                                    <a  alt="Добавить фото" title="Добавить фото"><img src="public/images/admin-addimg-l.png"></a>
                                </button>
                            </div>
                    </div>
                    <!--<div class="t-admin-maininfo-section">-->
                        <!--<h4>Название:</h4>-->
                        <!--<input type="text"  class="admin-textfield admin-maininfo" ng-model="model.title">-->

                        <!--<input id="" name="" type="text" value="" class="admin-textfield admin-maininfo">-->
                    <!--</div>-->
                    <div class="t-admin-maininfo-section">
                        <h4>Дата или дата начала:</h4>
                        <div date-time-picker class="admin-textfield admin-maininfo" ng-model="model.date"></div>
                        <!--<input id="" name="" type="text" value="" class="admin-textfield admin-maininfo">-->
                    </div>
                    <div class="t-admin-maininfo-section">
                        <h4>Дата конца:</h4>
                        <!--<input id="" name="" type="text" value="" class="admin-textfield admin-maininfo">-->
                        <div date-time-picker class="admin-textfield admin-maininfo" ng-model="model.dateEnd"></div>
                    </div>

                </div>


                <div  ng-show="model.id && model.id > 0" class="tile t-linked">
                    <div class="t-linked-header">
                        <h3>Связанные люди</h3>
                    </div>
                    <div class="t-linked-listing">
                        <ul class="t-linked-list">
                            <li class="t-linked-item" ng-repeat="lo in linkObjectsPeopleList ">
                                <a href="#/view_item/{{lo.id}}">
                                    <div class="linked-item-img">
                                        <img ng-src="{{lo.picture}}">
                                    </div>
                                    <div class="linked-item-name">
                                        {{lo.lastName}} {{lo.firstName}} {{lo.middleName}}
                                    </div>
                                </a>
                            </li>

                            <li class="t-linked-item admin-addlinked"  ng-click="addNewLink('people')">
                                <div class="linked-item-img"><img src="public/images/admin-addimg-s.png"></div>
                                <div class="linked-item-name">
                                    <a>Добавить</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


                <div  ng-show="model.id && model.id > 0" class="tile t-linked">
                    <div class="t-linked-header">
                        <h3>Связанные материалы</h3>
                    </div>
                    <div class="t-linked-listing">
                        <ul class="t-linked-list">

                            <li class="t-linked-item" ng-repeat="lo in linkObjectsPlaceList ">
                                <a href="#/view_item/{{lo.id}}">
                                    <div class="linked-item-img">
                                        <img src="/{{lo.picture}}">
                                    </div>
                                    <div class="linked-item-name">
                                        {{lo.title}}
                                    </div>
                                </a>
                            </li>

                            <li class="t-linked-item admin-addlinked" ng-click="addNewLink('place')">

                                    <div class="linked-item-img"><img src="public/images/admin-addimg-s.png"></div>
                                    <div class="linked-item-name">
                                        <a>Добавить</a>
                                    </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <style>
            .t-tabbar-user ul.tabbar-menu li {
                <!--width: 167px;-->


                width: 200px;
                margin: 10px;
            }
        </style>
        <div class="page-wrapper">
            <div class="page-content">

                <div class="tile t-tabbar-user">
                    <h2>Новая запись</h2>
                    </div>


                <div class="textpage">

                    <div class="tile t-page admin-page">

                        Уважаемый пользователь! Если Вы хотите опубликовать свою запись на портале, Вам необходимо быть зарегистрированным пользователем, выбрать раздел подходящий категории Вашего материала («Люди», «Места» или «События») и загрузить туда файлы необходимого формата (подробности в разделе правила пользователя).
                        
                    </div>
                </div>

                
                <div class="tile t-tabbar-user" style=" height: 115px;">

                    <ul class="tabbar-menu">
                        <li  style="cursor: pointer" ng-class="{'active': (model.itemType == 'people')}" ng-click="model.itemType ='people'">
                            <a>
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-user fa-stack-2x">

                                    </i>
                                </span> Люди
                            </a>
                        </li>
                        <li  style="cursor: pointer" ng-class="{'active': (model.itemType == 'place')}" ng-click="model.itemType ='place'">
                            <a>
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-map-o fa-stack-2x">

                                    </i>
                                    <i class="fa fa-map-marker fa-stack-1x">

                                    </i>
                                </span> Места
                            </a>
                        </li>
                        <li  style="cursor: pointer" ng-class="{'active': (model.itemType == 'event')}"  ng-click="model.itemType ='event'">
                            <a>
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-calendar-o fa-stack-2x">

                                    </i>
                                    <i class="fa fa-star fa-stack-1x">

                                    </i>
                                </span> События
                            </a>
                        </li>

                        <li  style="cursor: pointer" ng-class="{'active': (model.itemType == 'news')}"  ng-click="model.itemType ='news'">
                            <a>
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-newspaper-o fa-stack-2x">
                                    </i>
                                </span> Новости
                            </a>
                        </li>

                        <li  style="cursor: pointer" ng-class="{'active': (model.itemType == 'dateofday')}"  ng-click="model.itemType ='dateofday'">
                            <a>
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-location-arrow fa-stack-2x">
                                    </i>
                                </span> Событие дня
                            </a>
                        </li>

                        <li  style="cursor: pointer" ng-class="{'active': (model.itemType == 'route')}"  ng-click="model.itemType ='route'">
                            <a>
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-location-arrow fa-stack-2x">
                                    </i>
                                </span> Маршруты
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="textpage">

                    <div class="tile t-page admin-page">

                        <div class="t-admin-maininfo-section">
                            <h4>Название:</h4>
                            <input type="text"  class="admin-textfield admin-maininfo" style="width: 796px;" ng-model="model.title">
                        </div>


                        <div ng-show="model.itemType=='people'" class="t-admin-maininfo-section">
                            <h4>Фамилия:</h4>
                            <input type="text"  class="admin-textfield admin-maininfo" style="width: 796px;" ng-model="model.lastName">
                        </div>

                        <div  ng-show="model.itemType=='people'" class="t-admin-maininfo-section">
                            <h4>Имя:</h4>
                            <input type="text"  class="admin-textfield admin-maininfo" style="width: 796px;" ng-model="model.firstName">
                        </div>

                        <div  ng-show="model.itemType=='people'" class="t-admin-maininfo-section">
                            <h4>Отчество:</h4>
                            <input type="text"  class="admin-textfield admin-maininfo" style="width: 796px;" ng-model="model.middleName">
                        </div>


                        <div  class="t-admin-maininfo-section">
                            <h4>Закрепить:</h4>
                            <input type="checkbox"  class="admin-textfield admin-maininfo" style="width: 796px;" ng-model="model.pinned">
                        </div>


                        <!--<div class="t-admin-maininfo-section">-->
                            <!--<h4>Изображение:</h4>-->
                            <!--<input type="text"  class="admin-textfield admin-maininfo" style="width: 796px;" ng-model="model.picture">-->
                        <!--</div>-->


                        <!--<div class="admin-page-block page-2col">-->
                            <!--<h4>Краткое описание:</h4>-->
                            <!--<textarea id="" name="" type="text" value="" class="admin-textarea"></textarea>-->
                        <!--</div>-->
                        <div class="admin-page-block page-2col">
                            <h4>Структура:</h4>

                            <ui-select
                                    ng-model="selectedRegion"
                                    on-select="onSelectRegion ($item, $model)"
                                    tagging="true"
                                    append-to-body="false"
                                    theme="bootstrap">

                                <ui-select-match  placeholder="Выберите муниципалитет">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="r in regionsList | filter: $select.search">
                                    <span>{{r.name}}</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="admin-page-block">
                            <h4>Текст записи:</h4>
                            <div ckeditor="options" ng-model="model.message"  class="admin-textarea admin-page"></div>
                        </div>

                        <div class="admin-page-block">
                            <input class="admin-page-submit" type="submit" value="Отправить на проверку"  ng-disabled="saveProcess" ng-click="saveRecord ()">
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
