<style>
    #overlay {
        position: fixed;
        left: 25%;
        top: 25%;
        padding: 25px;
        border: 2px solid black;
        background-color: #ffffff;
        width: 50%;
        height: 50%;
        z-index: 100;
    }
    #fade {
        position: fixed;
        left: 0%;
        top: 0%;
        background-color: black;
        -moz-opacity: 0.7;
        opacity: .70;
        filter: alpha(opacity=70);
        width: 100%;
        height: 100%;
        z-index: 90;
    }

    #custom-modal.ng-enter {
        transition: opacity .5s ease-out;
        opacity: 0;
    }
    #custom-modal.ng-enter.ng-enter-active {
        opacity: 1;
    }
    #custom-modal.ng-leave {
        transition: opacity .5s ease-out;
        opacity: 1;
    }
    #custom-modal.ng-leave.ng-leave-active {
        opacity: 0;
    }
</style>

<div id="custom-modal">
    <div id="overlay">

        <div class="tile t-linked" style="width: 100%; height: 100%; padding: 0; margin: 0;">
            <div class="t-linked-header">
                <span style="display: inline-block;">
                    <h3>Выберите объект для добавления связи</h3>
                </span>
                <span>
                    <a ng-click="close(null)">Закрыть</a>
                </span>
            </div>

            <div class="t-linked-listing" style="height: 470px; overflow: scroll; width: 100%;">
                <ul class="t-linked-list">
                    <li class="t-linked-item" ng-repeat="pl in placesList" ng-click="selectObject(pl)">
                        <div class="linked-item-img"><img src="/picture/{{pl.pictureId}}"></div>

                        <div  ng-if="pl.itemType =='people' " class="linked-item-name">{{pl.lastName}} {{pl.firstName}} {{pl.middleName}}</div>
                        <div  ng-if="pl.itemType != 'people' " class="linked-item-name">{{pl.title}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="fade"></div>
</div>