<style>

    .tile.t-map {
        width: 825px;
        float: right;
    }

    .tiles .tile {
        display: block;
        float: left;
        height: 530px;
    }

</style>

<div class="content" ng-controller="MainCtrl">
    <div class="sidebar-wrapper">
        <div class="sidebar">
            <div class="tile t-logo">
                <img src="public/images/sidebar-logo.png">
                <h1 class="p-cap">Исторический журнал</h1>
                <p>Добро пожаловать <br> на информационный портал, <br> созданный в рамках федерального <br> проекта "Историческая память"</p>
            </div>
            <div class="tile t-thisday" ng-if="todayEvents.length > 0">
                <div class="t-thisday-header">
                    <h1>Этот день в истории</h1>
                </div>
                <div class="t-thisday-switcher">
                    <a class="t-thisday-switcher-back" ng-click="prevEvent()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                    <a class="t-thisday-switcher-forward" ng-click="nextEvent()"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    <div class="t-thisday-switcher-date">
                        <span class="t-thisday-switcher-date-day">{{todayEvents[todayEvent].date}}</span>
                        <!--<span class="t-thisday-switcher-date-year">2016</span>-->
                    </div>
                </div>
                <a href="#/view_item/{{todayEvents[todayEvent].id}}">
                    <img src="/picture/{{todayEvents[todayEvent].pictureId || 'public/images/day1.jpg'}}">
                    <p class="t-thisday-descr">{{todayEvents[todayEvent].title}}</p>
                </a>
            </div>

            <div class="tile t-thisday" style=" height: 238px;">
                <div class="t-thisday-header">
                    <h1>Событие дня</h1>
                </div>
                <div class="t-thisday-switcher">

                    <div date-time-picker inline="true" ng-model="todaydate"></div>
                </div>
            </div>


            <div class="tile t-news" >
                <div class="t-news-header" ng-if="showVillage">
                    <h3 >Структура</h3>
                </div>

                <div class="t-news-header" ng-if="!showVillage">
                    <h3>Новости проекта</h3>
                    <a ui-sref="news">Все новости</a>
                </div>


                <div class="t-news-listing">
                    <ul class="t-news-list">
                        <li class="t-news-item" ng-repeat="n in newsList">
                            <a ng-if="n.itemType=='village'" href="#/view_item/{{n.id}}">

                                <div class="linked-item-img">
                                    <img  style="width: 117%; margin-left: -20px; " src="/picture/{{n.pictureId}}">
                                </div>
                                <div class="linked-item-name">
                                    {{n.message}}
                                </div>
                            </a>
                            <a ng-if="n.itemType!='village'" href="#/view_item/{{n.id}}">
                                <div class="linked-item-img">
                                    <img style="width: 117%; margin-left: -20px;" src="/picture/{{n.pictureId}}">
                                </div>
                                <div class="linked-item-name">
                                    {{n.title}}
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="page-content">

            <style>
                #slide-1 {display: none;}
                #slide-1 .slide-name{ position: absolute;bottom: 10px;left:20px; }
                #slide-1 .slide-quote  {top:20px;right: 20px; height: 100px; width: 205px; padding: 15px 40px;}
                #slide-2 {display: none;}
                #slide-2 .slide-name{ position: absolute;bottom: 10px;left:20px; }
                #slide-2 .slide-quote  {top:20px;right: 20px; height: 100px; width: 205px; padding: 15px 40px;}
                #slide-3 {display: none;}
                #slide-3 .slide-name{ position: absolute;bottom: 10px;left:20px; }
                #slide-3 .slide-quote  {top:20px;right: 20px; height: 80px; width: 305px; padding: 15px 40px;}
                #slide-4 {}
                #slide-4.slide-name{ position: absolute;bottom: 10px;left:20px; }
                #slide-4 .slide-quote  {top:20px;left: 20px; height: 80px; width: 305px; padding: 15px 40px;}



                .t-slider .slide-quote {
                    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.45);
                    border-radius: 80px;
                    position: relative;
                    top: -262px;
                    left: 505px;
                    <!--right: -15px;-->
                    height: 100px;
                    width: 205px;
                    padding: 15px 40px;
                    text-align: center;
                    background: rgba(214, 219, 224, 0.8);
                    z-index: 3;
                }


                .t-slider .slide-name {
                    position: relative !important;
                    bottom: 10px;
                    left: 20px;
                    top: -40px;
                    font-family: 'Trebuchet MS', sans-serif;
                    font-size: 12px;
                    line-height: 20px;
                    color: #fff;
                    z-index: 3;
                }
                .t-slider {
                    width: 864px;
                }


            </style>


            <div class="tile t-slider" style=" padding: 0; height: 290px; ">
                <slick >
                    <div>
                        <img  style="width:100%; height: 100%;" src="public/images/slider/corr-1-02.jpg">
                    </div>
                    <div>
                        <img  style="width:100%; height: 100%;" src="public/images/slider/corr-1-06.jpg">
                    </div>
                    <div>
                        <img  style="width:100%; height: 100%;" src="public/images/slider/corr-1-07.jpg">
                    </div>

                    <!--<div>-->
                        <!--<img  style="width:100%; height: 100%;" src="public/images/slider/corr-1-04.jpg">-->
                    <!--</div>-->
                </slick>

            </div>

            <style>
                .highcharts-container {

                z-index: 7 !important;
                }
            </style>

            <div class="tile t-tabbar">
                <ul class="tabbar-menu">
                    <li style="cursor: pointer" ng-class="{'active': (viewVal == 'people' || viewVal == null)}"><a ng-click="getItems('people')"><span class="fa-stack fa-lg"><i class="fa fa-user fa-stack-2x"></i></span> Люди</a></li>
                    <li style="cursor: pointer" ng-class="{'active': (viewVal == 'place' || viewVal == null)}"><a ng-click="getItems('place')"><span class="fa-stack fa-lg"><i class="fa fa-map-o fa-stack-2x"></i><i class="fa fa-map-marker fa-stack-1x"></i></span> Места</a></li>
                    <li style="cursor: pointer" ng-class="{'active': (viewVal == 'event' || viewVal == null)}"><a ng-click="getItems('event')"><span class="fa-stack fa-lg"><i class="fa fa-calendar-o fa-stack-2x"></i><i class="fa fa-star fa-stack-1x"></i></span> События</a></li>
                    <li style="cursor: pointer" ng-class="{'active': (viewVal == 'route' || viewVal == null)}"><a ng-click="getItems('route')"><span class="fa-stack fa-lg"><i class="fa fa-location-route fa-stack-2x"></i><i class="fa fa-star fa-stack-1x"></i></span>Маршруты</a></li>
                </ul>
            </div>

            <div class="tiles">

                <style>
                    .tiles .tile {
                        float: none;
                    }
                </style>

                <div class="tile t-map" style="height: 530px;">
                    <div high-map region-id="regionId" style="width: 825px; height: 530px;"></div>
                    <!--<img style="position: relative; top: -335px; left: -11px; height: 350px; width: 510px; " src="public/images/map/corr-1-05.png">-->
                    <img style="position: relative; top: -498px; left: 0px; height: 505px; width: 577px; " src="public/images/map/corr-1-05.png">
                </div>

                <style>
                    .t-places {
                        margin: -20px 0 0 -10px;
                        padding-bottom: 10px;
                        overflow: hidden;
                    }
                    .t-place {
                        margin: 20px 0 0 20px;
                        float: left;
                        height: 400px;
                        width: 275px;
                        overflow-y: auto;
                        position: relative;
                        border: none;
                        background: #fff;
                        box-shadow: 0 1px 2px 0px rgba(0,0,0,0.5);
                        padding: 0;
                    }
                    .t-place.tile {
                        float: left;
                    }

                    .t-place a,
                    .t-place a:hover,
                    .t-place a:link,
                    .t-place a:focus,
                    .t-place a:active {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        border: none;
                        text-decoration: none;
                        display: block;
                    }

                    <!--.t-place__img {-->
                        <!--display: block;-->
                        <!--background-position: top center;-->
                        <!--background-size: contain;-->
                        <!--background-color: transparent;-->
                        <!--height: 232px;-->
                    <!--}-->

                    .t-place__img {
                        display: block;
                        background-position: top center;
                        background-size: cover;
                        background-color: transparent;
                        height: 210px;
                    }

                    .t-place__img img {
                        display: none;
                        margin: 0;
                    }
                    .t-place__content {
                        padding: 20px;
                        text-align: center;
                        font-family: 'Trebuchet MS', sans-serif;
                        font-size: 14px;
                        line-height: 20px;
                        color: #555;
                    }
                    .t-place__content > * {
                        margin-top: 10px !important;
                    }
                    .t-place__content > *:first-child {
                        margin-top: 0 !important;
                    }
                    .t-place__content h4 {
                        font-size: 20px;
                        line-height: 24px;
                        color: #345;
                        padding: 0 !important;
                    }
                    .t-place__content h5 {
                        font-size: 16px;
                        line-height: 20px;
                        color: #345;
                        padding: 0 !important;
                    }

                </style>

                <div class="t-places">
                    <div class="tile t-place" style="height:330px;" ng-repeat="e in eventsList">
                        <a href="#/view_item/{{e.id}}">
                            <div class="t-place__img" style="background-image: url('/picture/{{e.pictureId}}')">
                                <img style="max-width: 117%;" src="/picture/{{e.pictureId}}">
                            </div>
                            <!--src="{{e.picture || 'public/images/t-place.jpg'}}"-->
                            <!--<img style="max-width: 117%;" src="{{e.picture || 'public/images/t-place.jpg'}}">-->
                            <div class="t-place__content">
                                <h4 ng-if="e.itemType !='people'">{{e.title}}</h4>
                                <h4 ng-if="e.itemType =='people'">{{e.lastName}} {{e.firstName}} {{e.middleName}}</h4>
                                <!--<p>{{e.title}}</p>-->
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
</div>