<div ng-controller="accountEditCtrl">

    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Новая учетная запись</h3></div>
            <div class="panel-body">

                <table class="table table-stripped">
                    <tr>
                        <td><b>Тип записи</b></td>
                        <td>
                            <ui-select
                                    ng-model="selectedItemType"
                                    position="auto"
                                    on-select="onSelectItemType ($item, $model)"
                                    tagging="true"
                                    append-to-body="true"
                                    theme="bootstrap">

                                <ui-select-match  placeholder="Выберите тип записи">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="t in itemTypes | filter: $select.search">
                                    <span>{{t.name}}</span>
                                </ui-select-choices>
                            </ui-select>

                        </td>
                    </tr>

                    <tr>
                        <td><b>Login</b></td>
                        <td><input type="text"  class="form-control"  ng-model="login"></td>
                    </tr>

                    <tr>
                        <td><b>Password</b></td>
                        <td><input type="text"  class="form-control"  ng-model="password"></td>
                    </tr>

                    <tr>
                        <td><b>Фамилия</b></td>
                        <td><input type="text"  class="form-control"  ng-model="lastName"></td>
                    </tr>

                    <tr>
                        <td><b>Имя</b></td>
                        <td><input type="text"  class="form-control"  ng-model="firstName"></td>
                    </tr>

                    <tr>
                        <td><b>Отчество</b></td>
                        <td><input type="text"  class="form-control"  ng-model="middleName"></td>
                    </tr>

                    <tr>
                        <td><b>Email</b></td>
                        <td><input type="text"  class="form-control"  ng-model="email"></td>
                    </tr>


                    <tr>
                        <td><b>Фото</b></td>
                        <td><input type="text"  class="form-control"  ng-model="photo"></td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <h5><b>Комментарий</b></h5>
                            <summernote ng-model="comment" height="130"></summernote>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="panel-footer">
                <span class="btn btn-success" ng-click="saveRecord ()" ng-disabled="saveProcess">Сохранить</span>
                <span class="btn btn-default" ng-click="cancel ()">Отмена</span>
            </div>
        </div>
    </div>



</div>