/* CONSTANTS */
body {
    background: #eee;
    color: #555;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;}
a {text-decoration: none;}


/* LAYOUT */
.wrapper {position: relative; width: 100%;}

.clearfix {display: block;height: 1px;width: 100%;clear: both;}


.width-center-1160 {
    margin: 0 auto;
    width: 1160px;}

/* header */
.header {background: #456; height: 120px;}
.heder a {
    font-family: 'Trebuchet MS', sans-serif;
	font-size: 14px;
	line-height: 20px;
    color: #d6dbe0;}
.header.wrapper {width: 100%;}

.header-fl {height: 40px; padding: 15px 0;}
.header-fl-logo {float: left;padding-right: 40px;height: 40px; border-right: 1px solid #678;}
    .header-fl-logo a {display: block;padding: 8px 0;
        font-family: 'Trebuchet MS', sans-serif;
	    font-size: 20px;
	    line-height: 24px;
        font-weight: 700;
        color: #fff;}
    .header-fl-menu-wraper {float: left;padding-left: 20px;}
        ul.header-fl-menu {}
        ul.header-fl-menu > li{display: inline-block;}
        ul.header-fl-menu > li a{ text-transform: uppercase;
    font-family: 'Trebuchet MS', sans-serif;
	font-size: 16px;
	line-height: 24px;
    color: #d6dbe0;
display: block;padding: 8px;}
        ul.header-fl-menu > li a:hover{color: #fff;}
    .header-fl-search-wrapper {float: right; width: 210px;position: relative;}
    .header-fl-search-wrapper form {position: relative;}
        input.header-fl-search-input  {border-radius: 20px; padding: 0 20px; width: 200px; height: 40px; border: 1px solid #d6dbe0; background: transparent;}
        input.header-fl-search-submit {display: none; position: absolute;left: 162px;top:2px; border-radius: 20px; padding: 0 18px; width: 0px; height: 36px; background: #d6dbe0; border: none 0px;}
        span.header-fl-icon-search {position: absolute;top:5px;left: 160px;}
        span.header-fl-icon-search .fa-search {color:#d6dbe0;font-size: 20px;line-height: 20px;display: block;padding: 5px;}
    .header-fl-user-wrapper {float: right;}
    .header-fl-user-avatar {padding-left: 20px;float: right;}
    .header-fl-user-avatar img {height: 40px;width: 40px;}
.header-fl-user-wrapper .header-fl-favorites {float: left;}

.header-fl-user-wrapper .header-fl-favorites a span{padding: 0px;margin: 0px;}
.header-fl-user-wrapper .header-fl-favorites a span i{padding: 0px;margin: 0px;}

.header-fl-user-wrapper .header-fl-favorites a{
    height: 40px;
    font-family: 'Trebuchet MS', sans-serif;
	font-size: 16px;
	line-height: 24px;
    color: #d6dbe0;
display: block;padding: 0px 10px;margin: 0 10px; text-transform: uppercase;}

.header-fl-user-wrapper .header-fl-favorites a:hover{color: #fff;}


.header-sl {background: #345; height: 50px;}
    ul.header-sl-regionselection {position: relative; width: 300px;float: left;}
    ul.header-sl-regionselection > li {position: relative;
        font-family: 'Trebuchet MS', sans-serif;
	   font-size: 14px;
	   line-height: 40px;
        display: block; color: #d6dbe0; text-transform: uppercase;padding: 5px 0;}
    ul.header-sl-regionselection > li > ul { display: none; position: absolute; z-index: 1000;

        background: #d6dbe0;
        padding: 0px;
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.45);}
ul.header-sl-regionselection > li:hover > ul { display:block;}
    ul.header-sl-regionselection > li > ul > li {}
    ul.header-sl-regionselection > li > ul > li > a  {
        font-family: 'Trebuchet MS', sans-serif;
	   font-size: 14px;
	   line-height: 20px;
        display: block; padding: 10px 20px;border-bottom: 1px solid #567; color: #567; }
    ul.header-sl-regionselection > li > ul > li > a:hover {color:#345;background: #eef;}

    ul.header-sl-social {float: right;padding: 10px 0;}
    ul.header-sl-social > li {display: inline-block;}
    ul.header-sl-social > li > a {color: #d6dbe0;display: block;padding: 0px;font-size: 20px;line-height: 30px;width: 30px; text-align: center;}
    ul.header-sl-social > li > a:hover {background: #456; color: #eef;display: block;padding: 0px;font-size: 20px;line-height: 30px;width: 30px; text-align: center;}
    ul.header-sl-social > li > i {}


/* sidebar */

.content {margin: 20px auto;width: 1180px;}
.content.wrapper {margin: 0px;width: 100%;}

.sidebar {}
.sidebar-wrapper {float: left;}



.tile.t-thisday {height: 440px}
    .t-thisday-header {height: 20px; margin: -20px -20px 0 -20px; padding: 25px 20px; background: #d6dbe0;
        }
        .t-thisday-header h1{font-family: 'Trebuchet MS', sans-serif; font-size: 18px;line-height: 20px;
        color: #345;text-align: center;}
    .t-thisday-switcher {height: 70px;margin: 0 -20px;
font-family: 'Trebuchet MS', sans-serif; font-size: 18px;line-height: 20px;
        color: #345;text-align: center;}
        a.t-thisday-switcher-back {color: #345;display: block;height: 20px;width: 20px;padding: 25px 10px; line-height: 20px;float: left;}
        a.t-thisday-switcher-forward {color: #345;display: block;height: 20px;width: 20px;padding: 25px 10px; line-height: 20px;float: right;}
.t-thisday-switcher a:hover {background: #eee;}
.t-thisday-switcher-date {height: 40px;padding: 18px 0 12px 0; width:180px;margin: 0 auto;}
    span.t-thisday-switcher-date-day{display: block;line-height: 20px;}
    span.t-thisday-switcher-date-year{display: block;font-size: 12px;line-height: 20px;}

.tile.t-thisday img{margin: 0 -20px;width: 275px;height: 225px;}
p.t-thisday-descr{font-family: 'Trebuchet MS', sans-serif; font-size: 14px;line-height: 20px;
        color: #555;text-align: center;margin-top: 20px}

.tile.t-news {}
.t-news-header{position: relative;height: 40px;}
.t-news-header h3{font-family: 'Trebuchet MS', sans-serif; font-size: 18px;line-height: 20px;
        color: #345;text-align: left;}
.t-news-header a{font-family: 'Trebuchet MS', sans-serif; font-size: 10px;line-height: 13px;
        color: #345;text-align: left;float: right;margin-top: -14px;}
.t-news-header a:hover {color: #567;}
.t-news-listing {}

ul.t-news-list {margin: 0px -20px -20px -20px;}
ul.t-news-list li.t-news-item {font-family: 'Trebuchet MS', sans-serif; font-size: 14px;line-height: 18px;
        color: #555;text-align: left;padding: 0 20px 15px 20px;}
ul.t-news-list li.t-news-item a{font-family: 'Trebuchet MS', sans-serif; font-size: 14px;line-height: 18px;
        color: #555;}
ul.t-news-list li.t-news-item span.t-news-list-date{font-family: 'Trebuchet MS', sans-serif; font-size: 12px;line-height: 14px;
        color: #777;text-align: left;display: block;margin-top: 5px;}
li.t-news-item+li.t-news-item {border-top: 1px solid #ccc;padding-top: 15px;}




.tile.t-about {}
    .tile.t-about .t-about-img {margin: -20px -20px 10px -20px; overflow: hidden;width: 275px;}
        .tile.t-about .t-about-img img{width: 275px;height: auto;}

    .tile.t-about .t-about-descr {text-align: center;}
    .tile.t-about .t-about-descr h2{font-family: 'Trebuchet MS', sans-serif; font-size: 20px; line-height: 24px; color: #345;padding: 10px 0px;margin: 0 -10px;}
    .tile.t-about .t-about-descr h3{font-family: 'Trebuchet MS', sans-serif; font-size: 16px; line-height: 24px; color: #345;padding: 10px 0px;margin: 0 -10px;}
    .tile.t-about .t-about-descr p{font-family: 'Trebuchet MS', sans-serif; font-size: 14px; line-height: 20px; color: #555;padding: 10px 0px;}

.tile.t-linked {}
.tile.t-linked .t-linked-header {position: relative;height: 40px}
.tile.t-linked .t-linked-header h3{font-family: 'Trebuchet MS', sans-serif; font-size: 18px;line-height: 20px;
        color: #345;text-align: left;}

.t-linked-listing {}
ul.t-linked-list {margin: 0px -20px -20px -20px;}
ul.t-linked-list li.t-linked-item {font-family: 'Trebuchet MS', sans-serif; font-size: 14px;line-height: 18px;
        color: #555;text-align: left;padding: 0 20px 15px 20px;vertical-align: middle;}
/*ul.t-linked-list li.t-linked-item .linked-item-img {position: relative; overflow: hidden; width: 80px; height: 80px; border-radius: 40px;float: left;margin-right: 10px;}
ul.t-linked-list li.t-linked-item .linked-item-img img{min-height: 100%; min-width: 100%;}
ul.t-linked-list li.t-linked-item .linked-item-name {float: left; width: 145px;}*/

ul.t-linked-list li.t-linked-item .linked-item-img {position: relative; overflow: hidden; width: 80px; height: 80px; border-radius: 40px;display: inline-block;margin-right: 10px;vertical-align: middle;}
ul.t-linked-list li.t-linked-item .linked-item-img img{object-fit: cover; height: 80px; width: 80px;}
ul.t-linked-list li.t-linked-item .linked-item-name {display: inline-block;width: 140px;vertical-align: middle;}
ul.t-linked-list li.t-linked-item a{color:#555;}

li.t-linked-item +li.t-linked-item {border-top: 1px solid #ccc;padding-top: 15px;}



/* page */

.page {}
.page-wrapper {float: right;width: ;}



/* footer */

.footer {
    background: #567;}
.footer.wrapper{width: 100%;}
.footer p, .footer a, {
    font-family: 'Trebuchet MS', sans-serif;
	font-size: 14px;
	line-height: 20px;
    color: #d6dbe0;}

.footer-fl{padding: 30px 0px;}

.footer-fl-logo {font-size: 18px;line-height: 20px; float: left;}
.footer-fl-logo > a {
    font-family: 'Trebuchet MS', sans-serif;
    color: #d6dbe0;}
.footer-fl-menu-wrapper {float: right;}
ul.footer-fl-menu {display: block;}
ul.footer-fl-menu > li{font-size: 18px;line-height: 20px; display: inline-block; padding: 0 0 0 40px;}
ul.footer-fl-menu > li > a{
    font-family: 'Trebuchet MS', sans-serif;
    color: #d6dbe0;}
ul.footer-fl-menu > li > a:hover {color: #fff;}
.footer-sl {border-top: 1px solid #d6dbe0; padding: 20px 0;}
.footer-sl-copy {float: left; font-size: 14px;line-height: 20px;}
.footer-sl-copy > p {
    font-family: 'Trebuchet MS', sans-serif;
    color: #d6dbe0;}
.footer-sl-menu {float: right;}
.footer-sl-menu > ul{display: block;}
.footer-sl-menu > ul > li{font-size: 16px;line-height: 20px;display: inline-block; padding: 0 0 0 40px;}
.footer-sl-menu > ul > li > a{
    font-family: 'Trebuchet MS', sans-serif;
    color: #d6dbe0;}
.footer-sl-menu > ul > li > a:hover{color: #fff;}


/* tiles */


.tile {
    margin: 0 10px 20px 10px;
    width: 235px;
    padding: 20px;
    border: none; 0px;
    background: #fff;
    box-shadow: 0 1px 2px 0px rgba(0,0,0,0.5);}
.tiles {width:885px;}

.tiles .tile {display: block; float:left; height: 350px; text-align: center; transition: box-shadow 0.3s; cursor: pointer;}
.tiles .tile:hover {box-shadow: 0 3px 6px 0px;}

.tiles .tile img  {margin: -20px -20px 15px -20px;}
.tiles .tile h4 {font-family: 'Trebuchet MS', sans-serif; font-size: 20px; line-height: 24px; color: #345;padding: 10px 0px;margin: 0 -10px;}
.tiles .tile h5 {font-family: 'Trebuchet MS', sans-serif; font-size: 16px; line-height: 20px; color: #345;padding: 10px 0px;}
.tiles .tile p {font-family: 'Trebuchet MS', sans-serif; font-size: 14px; line-height: 20px; color: #555;padding: 10px 0px;}

.tile.t-person{}
.tile.t-person h4{}
.tile.t-person p{}

.tile.t-map {width: 530px; float: right;}
.tile.t-map img{margin: -20px -20px 0 -20px; width: 570px; height: 390px;}


.t-logo {height: 250px;}
    .t-logo h1 {width: 150px;text-align: center;margin: 10px auto;display: block;
        font-family: 'Trebuchet MS', sans-serif; font-size: 20px;line-height: 24px;
        color: #345;}
    .t-logo p {width: 200px;text-align: center;margin: 10px auto;display: block;
        font-family: 'Trebuchet MS', sans-serif; font-size: 12px;line-height: 15px;
        color: #345;}
    .t-logo img {height: 110px;width: 100px;display: block;margin: 10px auto;}



.t-slider {width: 825px;height: 250px; position: relative;overflow: hidden;}
.t-slider .t-slider-img {position: absolute; top: 0px;left: 0px;}
.t-slider .slide-quote {box-shadow: 0 1px 1px 0px rgba(0,0,0,0.45);border-radius: 80px; position: absolute; top:20px;right: 20px; height: 100px; width: 205px; padding: 15px 40px; text-align: center; background: #d6dbe0;}
.t-slider .slide-name{ position: absolute;bottom: 10px;left:20px; font-family: 'Trebuchet MS', sans-serif; font-size: 12px;line-height: 20px; color: #fff;}
.t-slider .slide-quote p {font-family: 'Trebuchet MS', sans-serif; font-size: 16px;line-height: 20px; color: #456; }
.t-slider .slide-quote p.author {padding-top: 5px; font-family: 'Trebuchet MS', sans-serif; font-size: 12px;line-height: 20px; color: #456;}


.t-tabbar {width: 825px;height: 40px; padding: 15px 20px; background: #d6dbe0;}
.t-tabbar ul.tabbar-menu{text-align: center;}
.t-tabbar ul.tabbar-menu li{height: 40px; width: 200px;background: #99a3ad;display: inline-block; border-radius: 20px;margin: 0 20px;}
.t-tabbar ul.tabbar-menu li:hover {background: #678;}
.t-tabbar ul.tabbar-menu li.active {background: #567;}
.t-tabbar ul.tabbar-menu li a{display: block;font-family: 'Trebuchet MS', sans-serif; font-size: 18px;line-height: 40px; text-transform: uppercase;color: #d6dbe0; text-align: center;padding-right: 15px;}
.t-tabbar ul.tabbar-menu li a span{ font-size: 13px; padding-right: 10px;margin-right: 5px;}


.t-tabbar-search {width: 1120px;height: 40px; padding: 15px 20px; background: #d6dbe0;}
.t-tabbar-search ul.tabbar-menu{text-align: right;width: 620px;float: right;}
.t-tabbar-search ul.tabbar-menu li{height: 40px; width: 180px;background: #99a3ad;display: inline-block; border-radius: 20px;margin: 0 10px;}
.t-tabbar-search ul.tabbar-menu li:hover {background: #678;}
.t-tabbar-search ul.tabbar-menu li.active {background: #567;}
.t-tabbar-search ul.tabbar-menu li a{display: block;font-family: 'Trebuchet MS', sans-serif; font-size: 18px;line-height: 40px; text-transform: uppercase;color: #d6dbe0; text-align: center;padding-right: 15px;}
.t-tabbar-search ul.tabbar-menu li a span{ font-size: 13px; padding-right: 10px;margin-right: 5px;}



.t-tabbar-search-wrapper {float: left; width: 450px;position: relative;}
    .t-tabbar-search-wrapper form {position: relative;}
        input.t-tabbar-search-search-input  {border-radius: 20px; padding: 0 20px; width: 450px; height: 40px; border: 1px solid #345; background: #fff;color: #345;font-size: 18px;}
        input.t-tabbar-search-search-submit {display: none; position: absolute;left: 162px;top:2px; border-radius: 20px; padding: 0 18px; width: 0px; height: 36px; background: #d6dbe0; border: none 0px;}
        span.t-tabbar-search-icon-search {position: absolute;top:5px;left: 360px;}
        span.t-tabbar-search-icon-search .fa-search {color:#d6dbe0;font-size: 20px;line-height: 20px;display: block;padding: 5px;}



.t-tabbar-user {width: 825px;height: 40px; padding: 15px 20px; background: #d6dbe0;}
.t-tabbar-user h2 {width: 200px;float: left;font-family: 'Trebuchet MS', sans-serif; font-size: 20px;line-height: 40px; text-transform: uppercase;color: #345;font-weight: 700;}
.t-tabbar-user ul.tabbar-menu{text-align: center;float: right;}
.t-tabbar-user ul.tabbar-menu li{height: 40px; width: 180px;background: #99a3ad;display: inline-block; border-radius: 20px;margin: 0 10px;}
.t-tabbar-user ul.tabbar-menu li:hover {background: #678;}
.t-tabbar-user ul.tabbar-menu li.active {background: #567;}
.t-tabbar-user ul.tabbar-menu li a{display: block;font-family: 'Trebuchet MS', sans-serif; font-size: 18px;line-height: 40px; text-transform: uppercase;color: #d6dbe0; text-align: center;padding-right: 15px;}
.t-tabbar-user ul.tabbar-menu li a span{ font-size: 13px; padding-right: 10px;margin-right: 5px;}




.textpage {width: 885px;}
.textpage .tile.t-page {width:  825px;}
.fullpage {width: 1180px;}
.fullpage .tile.t-page {width:  1120px;}


.tile.t-page h1 {display: block;margin: -20px -20px 20px -20px; height: 40px;border-bottom: 1px solid #ccc; padding: 20px;
    font-family: 'Trebuchet MS', sans-serif; font-size: 30px;line-height: 40px;font-weight: 700;color: #555;}
.tile.t-page h2 {font-family: 'Trebuchet MS', sans-serif; font-size: 20px;line-height: 24px;font-weight: 700;color: #345;padding: 10px 0;}
.tile.t-page p {font-family: 'Trebuchet MS', sans-serif; font-size: 15px;line-height: 24px; color: #555;padding: 10px 0;}
.tile.t-page a {color: #345;text-decoration: underline;}
.tile.t-page blockquote {font-family: 'Trebuchet MS', sans-serif; font-size: 15px;line-height: 24px; color: #555;padding: 15px; background: #eee;margin:10px 0;}
.tile.t-page ul {}
.tile.t-page ul li{}
.tile.t-page ol {}
.tile.t-page ol li{}
.tile.t-page iframe {display: block;margin: 0 auto;}





/* PROPERTIES*/
.p-cap {text-transform: uppercase;}


/* ADMIN PAGE TWEEKS*/

.admin-textfield {padding: 10px; height: 30px;line-height: 30px;font-family: 'Trebuchet MS', sans-serif; font-size: 16px; color: #555;background: #eee;border: 0 none;}

.admin-textfield.admin-maininfo{width: 210px;}
.admin-textfield.admin-page{width: 375px;}

.tile.t-admin-maininfo {padding-top: 0px;}

.tile.t-admin-maininfo .t-admin-maininfo-section {font-family: 'Trebuchet MS', sans-serif; font-size: 16px;line-height: 20px; color: #555;padding: 10px 0;}
.tile.t-admin-maininfo .t-admin-maininfo-section h4{font-size: 18px;padding: 10px 0 5px 0;}
.tile.t-admin-maininfo .t-admin-maininfo-section p{}

.tile.t-admin-maininfo .t-admin-maininfo-section input{}

.tile.t-admin-maininfo .t-admin-maininfo-section .t-admin-maininfo-img{ margin: 0 -20px;}
.tile.t-admin-maininfo .t-admin-maininfo-section .t-admin-maininfo-img img{width: 275px;}





.admin-page-block {font-family: 'Trebuchet MS', sans-serif; font-size: 16px;line-height: 20px; color: #555;padding: 10px 0;}
.admin-page-block.page-2col {width: 400px;display: inline-block;padding: 0 10px;margin: 0 0 0 -10px;vertical-align: top;}


.admin-page-block h4{font-size: 18px;padding: 10px 0 5px 0;}
.admin-page-block p{}
.admin-page-block select{padding: 10px; height: 30px;line-height: 30px;font-family: 'Trebuchet MS', sans-serif; font-size: 16px; color: #555;background: #eee;border: 0 none; border-radius: 0px; width: 375px;}

.admin-textarea {padding: 10px; height: 30px;line-height: 30px;font-family: 'Trebuchet MS', sans-serif; font-size: 16px; color: #555;background: #eee;border: 0 none;}
.admin-textarea.admin-page {width: 800px;height: 400px;}

.page-2col .admin-textarea{width: 375px;height: 100px;vertical-align: top;line-height: 20px;}

.admin-page-submit {display: block;font-family: 'Trebuchet MS', sans-serif; font-size: 18px;line-height: 40px; text-transform: uppercase;color: #d6dbe0; text-align: center;padding: 0 30px;border: 0px;height: 40px; width: auto;background: #567; border-radius: 20px;margin: 0 auto;}
.admin-page-submit:hover {background: #678;}








/* MODAL */

/* MODAL */



.modal-bg {position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;background: rgba(255,255,255,0.95);z-index: 100;}
.modal-wrapper {
    margin: 0 auto;
    width: 420px;
    background: #fff;
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.45);
}
    .modal-tabbed {}
        ul.modal-tabs {
    height: 70px;
    background: #eee;
}
        ul.modal-tabs li{font-family: 'Trebuchet MS', sans-serif; font-size: 18px;color: #345; font-weight: 700;
    display: inline-block;
    padding: 20px;
    line-height: 30px;

}
        ul.modal-tabs li:hover{background: #f6f6f6;}
        ul.modal-tabs li a{color: #99a3ad;}
        ul.modal-tabs li.active{
    background-color: #fff;
}
        ul.modal-tabs li.active:hover{}
        ul.modal-tabs li.active a{color: #345;}

ul.modal-tabs .modal-tabs-act {display: inline-block;float: left;}
ul.modal-tabs .modal-tabs-reg {display: inline-block;float: right;text-align: right;}

.modal-windows {
    padding: 20px;
}
.modal-windows-auth {}
.modal-windows-reg {}

.modal-section {}
.modal-section h4{font-family: 'Trebuchet MS', sans-serif; font-size: 18px;color: #555; font-weight: 300;}
.modal-section h4 .form-req{font-family: 'Trebuchet MS', sans-serif; font-size: 18px;color: #f33; font-weight: 700;}

.modal-section input.modal-input{
    width: 355px;
    margin: 10px 0;
}

.modal-tabbed-constant {
    border-top: 1px solid #aaa;
    background: #eee;
}
.modal-socialauth {
    text-align: center;
    padding: 20px 0 10px 0;
}
.modal-socialauth h3{font-family: 'Trebuchet MS', sans-serif; font-size: 18px;line-height: 20px; color: #345; font-weight: 700;}
.modal-socialauth .social-icons {
    padding: 20px;
}
.modal-socialauth .social-icons li{margin: 0 5px;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    border-radius: 30px;
    background: #aaa;
    color: #fff;
}

.modal-socialauth .social-icons li a{color: #fff;}
.modal-socialauth .social-icons li a:hover{color: #fff;}

.modal-socialauth .social-icons li.social-icons-vk{background-color: #4d739c;}
.modal-socialauth .social-icons li.social-icons-fb{background-color: #3b5a98;}
.modal-socialauth .social-icons li.social-icons-tw{background-color: #00a8e2;}

.modal-section input.admin-page-submit {box-shadow: 0 1px 1px 0px rgba(0,0,0,0.45);margin: 20px auto 10px auto;}