<div ng-controller="RegionsCtrl">


    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading"><h3>Регионы самарской области</h3>

                <a ui-sref="regionedit">
                    <span class="btn btn-success">Создать</span>
                </a>
            </div>
            <div class="panel-body">

                <table class="table table-stripped">

                    <tr>
                        <th>Код</th>
                        <th>Название</th>
                        <th>Картинка</th>
                        <th>Комментарий</th>
                    </tr>
                    <tr  ng-repeat="r in regionsList">
                        <td>{{r.code}}</td>
                        <td>{{r.name}}</td>
                        <td>{{r.picture}}</td>
                        <td><span ng-bind-html="r.comment"></span></td>
                    </tr>
                </table>
            </div>
        </div>


    </div>
</div>