<div ng-controller="RegionEditCtrl">

    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Новый муниципалитет</h3></div>
            <div class="panel-body">

                <table class="table table-stripped">

                    <tr>
                        <td><b>Код</b></td>
                        <td><input type="text"  class="form-control"  ng-model="code"></td>
                    </tr>

                    <tr>
                        <td><b>Название</b></td>
                        <td><input type="text"  class="form-control"  ng-model="name"></td>
                    </tr>

                    <tr>
                        <td><b>Картинка</b></td>
                        <td><input type="text"  class="form-control"  ng-model="picture"></td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <h5><b>Комментарий</b></h5>
                            <summernote ng-model="comment" height="130"></summernote>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="panel-footer">
                <span class="btn btn-success" ng-click="saveRecord ()" ng-disabled="saveProcess">Сохранить</span>
                <span class="btn btn-default" ng-click="cancel ()">Отмена</span>
            </div>
        </div>
    </div>



</div>