<div ng-controller="ViewItemCtrl">

    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>{{item.title}}</h3></div>
            <div class="panel-body">

                <table class="table table-stripped">

                    <tr ng-show="isPeople">
                        <td><b>Фамилия</b></td>
                        <td>{{item.lastName}}</td>
                    </tr>

                    <tr ng-show="isPeople">
                        <td><b>Имя</b></td>
                        <td>{{item.firstName}}</td>
                    </tr>

                    <tr ng-show="isPeople">
                        <td><b>Отчество</b></td>
                        <td>{{item.middleName}}</td>
                    </tr>

                </table>


                <div>
                    <span ng-bind-html="item.message"></span>
                </div>

            </div>
        </div>
    </div>



</div>