<div ng-controller="MainCtrl">

    <style>
        .main-grey-button {
        background: #334454;
        border-radius: 20px;
        height: 37px;
        color: #d6dbdf;
        font-size: 19px;
        width: 240px;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
        padding-top: 5px;
        display: inline-block;
        }
    </style>

    <div class="col-lg-3">


        <div class="panel panel-default">
            <div class="panel-body" style="height: 290px">

                <img src="public/images/samara.png" width="100%" height="100%" alt="">

            </div>
        </div>

    </div>

    <div class="col-lg-9">


        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-body" style="height: 420px">
                    <img src="public/images/samara2.png" width="100%" height="100%" alt="">
                </div>
            </div>
        </div>



        <div>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body" style="height: 548px">

                        <img src="/public/images/map.jpg" width="100%" height="100%" alt="">
                        <!--<div high-map></div>-->
                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-12">

            <div class="panel panel-default" style="background: #d6dbdf;">
                <div class="panel-body" style="height: 70px;">

                    <div class="col-md-4">
                        <!--<a ui-sref="people">-->
                        <span class="main-grey-button" ng-click="people()">
                             <i class="fa fa-user"></i>
                            Люди
                        </span>
                        <!--</a>-->

                    </div>
                    <div class="col-md-4">
                        <!--<a ui-sref="places">-->
                        <span class="main-grey-button" ng-click="places()">
                             <i class="fa fa-map-marker"></i>
                            Места
                        </span>
                        <!--</a>-->

                    </div>
                    <div class="col-md-4">
                        <!--<a ui-sref="events">-->
                        <span class="main-grey-button" ng-click="events()">
                            <i class="fa fa-calendar"></i>
                            События
                        </span>
                        </a>

                    </div>
                </div>
            </div>

        </div>




        <div class="col-lg-12">

            <div class="col-md-4" ng-repeat="e in eventsList">
                <div class="panel panel-default">
                    <div class="panel-body" style="height: 345px">

                        <a href="#/view_item/{{e.id}}">
                            <img src="public/images/day1.jpg" width="100%" alt="">
                            <div> <b> {{e.date}}</b> </div>
                            <div ng-if="e.title"> <b>  {{e.title}} </b></div>
                            <div ng-if="e.lastName"> <b> Фамилия: </b> {{e.lastName}} </div>
                            <div ng-if="e.firstName"> <b>Имя: </b> {{e.firstName}} </div>
                            <div ng-if="e.middleName"> <b>Отчество:</b> {{e.middleName}} </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>