<div  class="content"  ng-controller="ProfileCtrl">

        <div class="sidebar-wrapper">
            <div class="sidebar">
                <div class="tile t-logo">
                    <img src="public/images/sidebar-logo.png">
                    <h1 class="p-cap">Исторический журнал</h1>
                    <p>Добро пожаловать <br> на информационный портал, <br> созданный в рамках федерального <br> проекта "Историческая память"</p>
                </div>
            </div>
        </div>


        <div class="page-wrapper">
            <div class="page-content">

                    <div class="tile t-tabbar-user">
                        <h2 style="width: 345px;">Профиль пользователя</h2>

                        <a href="/secure/logout">
                            Выход
                        </a>
                    </div>

                    <div class="textpage">

                        <div class="tile t-page admin-page">


                            <div class="t-admin-maininfo-section">
                                <h4>Тип записи:</h4>
                                <input type="text" readonly class="admin-textfield admin-maininfo" style="width: 796px;" ng-model="p.role">
                            </div>

                            <div class="t-admin-maininfo-section">
                                <h4>Login:</h4>
                                <input type="text" readonly class="admin-textfield admin-maininfo" style="width: 796px;" ng-model="p.login">
                            </div>

                            <div class="t-admin-maininfo-section">
                                <h4>Фамилия:</h4>
                                <input type="text" readonly class="admin-textfield admin-maininfo" style="width: 796px;" ng-model="p.lastName">
                            </div>

                            <div class="t-admin-maininfo-section">
                                <h4>Имя:</h4>
                                <input type="text" readonly class="admin-textfield admin-maininfo" style="width: 796px;" ng-model="p.firstName">
                            </div>

                            <div class="t-admin-maininfo-section">
                                <h4>Отчество:</h4>
                                <input type="text" readonly class="admin-textfield admin-maininfo" style="width: 796px;" ng-model="p.middleName">
                            </div>

                            <div class="t-admin-maininfo-section">
                                <h4>Email:</h4>
                                <input type="text" readonly class="admin-textfield admin-maininfo" style="width: 796px;" ng-model="p.email">
                            </div>

                            <div class="admin-page-block">

                                <span ng-bind-html="p.comment"></span>
                            </div>

                        </div>

                    </div>

                </div>
        </div>

    <div class="clearfix"></div>

</div>