
<div class="content"  ng-controller="ViewItemCtrl">

    <link rel="stylesheet" type="text/css" href="public/css/layout.css">

    <div class="sidebar-wrapper">
        <div class="sidebar">

            <div class="tile t-about">
                <div class="t-about-img">
                    <img src="/picture/{{item.pictureId}}">
                </div>
                <div class="t-about-descr">
                    <h2 ng-if="item.itemType=='people'">{{item.lastName}} {{item.firstName}} {{item.middleName}}</h2>

                    <p ng-if="item.itemType=='people'">{{item.title}} </p>

                    <h2 ng-if="item.itemType !='people'">{{item.title}}</h2>
                </div>
            </div>
            <div class="tile t-linked">
                <div class="t-linked-header">
                    <h3>Связанные материалы</h3>
                </div>
                <div class="t-linked-listing">
                    <ul class="t-linked-list">

                        <li class="t-linked-item" ng-repeat="lo in linkObjectsList ">
                            <a href="#/view_item/{{lo.id}}">
                                <div class="linked-item-img">
                                    <!--<img ng-src="{{lo.picture}}">-->
                                    <img src="/picture/{{lo.pictureId}}">
                                </div>
                                <div class="linked-item-name">{{lo.title}}</div>
                            </a>

                        </li>

                        <!--<li class="t-linked-item">-->
                            <!--<div class="linked-item-img"><img src="public/images/bolglush-21.jpg"></div><div class="linked-item-name">Село Большая глушица</div>-->
                        <!--</li>-->
                        <!--<li class="t-linked-item">-->
                            <!--<div class="linked-item-img"><img src="public/images/bolglush-21.jpg"></div><div class="linked-item-name">Село Большая глушица 2</div>-->
                        <!--</li>-->
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="page-content">


            <div class="textpage">


                <a ng-if="usr" href="#/item/{{item.id}}"><h4>редактировать</h4></a>

                <div class="tile t-page"  ng-bind-html="item.message">
                </div>

            </div>

        </div>
    </div>
    <div class="clearfix"></div>
</div>