<div class="content" ng-controller="NewsCtrl">
    <div class="sidebar-wrapper">
        <div class="sidebar">
            <div class="tile t-logo">
                <img src="public/images/sidebar-logo.png">
                <h1 class="p-cap">Исторический журнал</h1>
                <p>Добро пожаловать <br> на информационный портал, <br> созданный в рамках федерального <br> проекта "Историческая память"</p>
            </div>
            <div class="tile t-thisday" ng-if="todayEvents.length > 0">
                <div class="t-thisday-header">
                    <h1>Этот день в истории</h1>
                </div>
                <div class="t-thisday-switcher">
                    <a class="t-thisday-switcher-back" ng-click="prevEvent()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                    <a class="t-thisday-switcher-forward" ng-click="nextEvent()"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    <div class="t-thisday-switcher-date">
                        <span class="t-thisday-switcher-date-day">{{todayEvents[todayEvent].date}}</span>
                        <!--<span class="t-thisday-switcher-date-year">2016</span>-->
                    </div>
                </div>
                <a href="#/view_item/{{todayEvents[todayEvent].id}}">
                    <img src="{{todayEvents[todayEvent].picture || 'public/images/day1.jpg'}}">
                    <p class="t-thisday-descr">{{todayEvents[todayEvent].title}}</p>
                </a>
            </div>
            <div class="tile t-news">
                <div class="t-news-header">
                    <h3>Новости проекта</h3>
                    <a href="#">Все новости</a>
                </div>
                <div class="t-news-listing">
                    <ul class="t-news-list">
                        <li class="t-news-item" ng-repeat="n in newsList">
                            <a href="#/view_item/{{n.id}}">
                                {{n.title}}
                                <span class="t-news-list-date">
                                    {{n.date}}
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="page-content">

            <div class="tile t-slider">
                <img class="t-slider-img" src="public/images/slider-1.jpg">
            </div>


            <div class="tiles">
                <div class="tile t-place" ng-repeat="e in eventsList">
                    <a href="#/view_item/{{e.id}}">
                        <img style="max-width: 117%;"  src="/picture/{{e.pictureId}}" >
                        <h4 ng-if="e.itemType !='people'">{{e.title}}</h4>
                        <h4 ng-if="e.itemType =='people'">{{e.lastName}} {{e.firstName}} {{e.middleName}}</h4>
                        <!--<p>{{e.title}}</p>-->
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
</div>